*,*::before,*::after {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-weight: lighter;
}

body {
    padding: 0;
    margin: 0;
    background-image: url('./img/images.jpg');
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5,100px);
}

.calculator-grid > .numbers, #clear {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
   
}

.calculator-grid > .numbers:hover, #clear:hover {
    background-color: rgba(255, 255, 255, 0.9) ;
}

.span-two {
    grid-column: span 2;
}

.display {
    grid-column: 1 / -1;
    background-color: rgba(127, 255, 0,0.6);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.display .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
    text-shadow: 2px 3px rgba(0, 0, 0,0.75);
}

.display .current-operand {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    text-shadow: 2px 3px rgba(0, 0, 0,0.75);
}

.calculator-grid .data-operation, #equal, #delete  {
    background-color: #ff1493;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
}

.calculator-grid .data-operation:hover, #equal:hover, #delete:hover {
    background-color: #ff1493cc;
}

.calculator-grid #clear {
    background-color: #0000ff;
    
}

.calculator-grid #clear:hover {
    background-color: darkblue;
}